extends components/layout

block content
    h1.main-content__heading About HR App
    img.logo-img(src='/static/images/hr_logo.jpg' alt='app logo')
    blockquote.about
        | This web application was created to fulfill
        | Web Technology module&rsquo;s requirements and does not represent an actual company or service.
        | Using this app Human Resource heads can manage company employees.
