extends components/layout
block append head
    link(rel='stylesheet' href='https://unpkg.com/native-toast@2.0.0/dist/native-toast.css')
    script(src='https://unpkg.com/native-toast@2.0.0/dist/native-toast.min.js')
    script(defer='' src='/static/javascripts/native-toast.js')
block content
    h1.main-content__heading All Employees
    ul.employee-list
        li.employee-item
            a(href='/employee-details/id')
                img(src='/static/images/hr_logo.jpg' alt="employeeName's photo")
                |           EmployeeName
            span DepartmentName
            .manage-btns
                button.delete Delete
                button.update Update