footer.footer
    p
        | This web application was created to fulfill Web Technology module&rsquo;s requirements and does not represent an actual company or service
    p &copy; 00009534
    nav.footer-nav
        a(href='/') General Info
        a(href='/employees') Employees
        a(href='/about') About
        a(href='/manage-employees') Manage