aside.sidebar
    .sticky
        img(src='/static/images/hr_logo.jpg' alt='' draggable='false')
        nav.sidebar__nav
            a(href='/') General Information
            a(href='/employees') Employees
            a(href='/about') About App
            a(href='/manage-employees') Manage Employees